html
{background-color: #282828;
background-size: cover;}

#header{
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 5px;
	text-align: center;
	height: 10%;
	width: 100%;
	
	
}
#section{
	width:350px;
	height: 390px;
    float:left;
    padding:0px; 
    padding-right: 0px;
}

#footer{
	background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
#menu{
	list-style-type: none;
}
#section1{
    color: white;
    text-align: center;
}
.bb{
	background-color: #888888;
    opacity: 0.8;
}
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#home, #aboutme, #addguest, #viewguests{
	background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

#picture{
    height: 100px;
    width: 100px;
}
#picbox{
    float: left;
}
#redbtn{
    background-color: red;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}
#yellowbtn{
    background-color: yellow;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}
#greenbtn{
    background-color: green;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}
#blackbtn{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}
#silverbtn{
    background-color: silver;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}
